*, *::before, *::after {
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Lato';
    margin: 0;
    padding: 0;
    color: inherit;
}

body {
    color: #636363;
    background-color: rgb(246, 244, 214);
}

.info {
    font-weight: 700;
    font-size: 20px;
    width: 80%;
    padding: 20px;
    border: 3px solid currentColor;
    margin: 20px auto;
}

.highlight {
    font-size: inherit;
    color:rgb(255, 129, 150);
    font-weight: 400;
}

h1 {
    font-size: 40px;
    margin: 30px;
    text-align: center;
    font-weight: 300;
}

h2 {
    font-size: 25px;
    font-weight: 400;
}

p {
    font-weight: 500;
    font-size: 12px;
}

.profile {
    margin: 50px auto;
    padding: 15px 0;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    background: repeating-linear-gradient(90deg, white, white 15px, rgb(255, 159, 175) 15px, rgb(255, 159, 175) 30px);
}

.profile .profile-content {
    /* color: white; */
    padding: 25px 25px;
    min-height: 375px;
    background-color: #a5efff;
    background-image: linear-gradient(to left, #a5efff, #b6f2ff, #a5efff);

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
}

.profile .profile-picture {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 50%;
    background-position: top;
    background-size: cover;
    background-color: black;

    flex-shrink: 0;
    flex-grow: 0;
}

.profile .text {
    align-self: stretch;
    flex-grow: 1;
    color: inherit;

    display: flex;
    flex-direction: column;
}

.profile .name {
    text-align: center;
    margin-bottom: 5px;
}

.profile .description {
    margin-bottom: 10px;
}

.profile .email-wrapper {
    margin-top: auto;
    align-self: flex-end;
}

.profile .email {
    width: 28px;
    height: 28px;
    fill: currentColor;
}

@media only screen and (min-width: 400px) {
    .profile {
        padding: 25px 25px;
        max-width: 400px;
    }

    .profile .profile-content {
        border-radius: 5px;
    }
}

@media only screen and (min-width: 1000px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 25px;
    }

    p {
        font-size: 14px;
        font-weight: 400;
    }

    .profile {
        margin: 50px auto;
        padding: 30px 30px;
        width: 65%;
        max-width: 500px;

        justify-content: space-between;
    }

    .profile .profile-picture {
        width: 200px;
        height: 200px;
    }

    .profile .name {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 1000px) {
    .profile {
        max-width: 900px;
    }

    .profile .profile-content {
        justify-content: space-between;
        align-items: flex-start;
        min-height: auto;
    }

    .profile .description {
        margin-bottom: 20px;
    }

    .profile .profile-picture {
        margin-bottom: 0;
    }

    .profile:nth-child(odd) .profile-content {
        flex-direction: row-reverse;
        text-align: right;
    }

    .profile:nth-child(odd) .name {
        text-align: right;
    }

    .profile:nth-child(even) .profile-content {
        flex-direction: row;
    }

    .profile:nth-child(even) .name {
        text-align: left;
    }

    .profile:nth-child(even) .email-wrapper {
        align-self: flex-start;
    }

    .profile .name {
        margin-bottom: 20px;
    }

    .profile:nth-child(odd) .profile-picture {
        margin-right: 60px;
    }

    .profile:nth-child(even) .profile-picture {
        margin-left: 60px;
    }
}
